<!DOCTYPE html>
<html lang="en">
<head>
    <title>attribute informations</title>
</head>
<body style="background-image: url({{ url_for('static',filename='DifferentMushrooms.jpg')}}); background-size: cover">
    <header><h1 style="text-align: center;font-size: 50px; background-color: white;"> Attribute Informations</h1></header>
    <ol  style="color: white; font-size: large">
        <li>
            <h3 style="text-align: center;font-size: 22px; background-color: white; color:black">cap-shape:</h3> 
            <ul> <li>bell=b</li>
                 <li>conical=c</li>
                 <li>convex=x</li>
                 <li>flat=f</li>
                 <li>knobbed=k </li>
                 <li>sunken=s</li> </ul>
        </li>
        <br>
        <li>
            <h3 style="text-align: center;font-size: 22px; background-color: white;color:black">cap-surface:</h3> 
            <ul>
                <li>fibrous=f</li>
                <li>grooves=g</li>
                <li>scaly=y</li>
                <li>smooth=s</li>
            </ul>  
        </li> 
        <br>   
        <li>
            <h3 style="text-align: center;font-size: 22px; background-color: white;color:black">cap-colour: </h3>
            <ul>
                <li>brown=n </li>
                <li>buff=b</li>
                <li>cinnamon=c</li>
                <li>gray=g</li>
                <li>green=r</li>
                <li>pink=p</li>
                <li>purple=u</li>
                <li>red=e</li>
                <li>white=w</li>
                <li>yellow=y</li>
            </ul>
        
        </li>
        <br>
        <li>
           <h3 style="text-align: center;font-size: 22px; background-color: white;color:black">bruises:</h3>
           <ul>
               <li>bruises=t</li>
               <li>no=f</li>
           </ul>   
        </li>
        <br>
        <li>
           <h3 style="text-align: center;font-size: 22px; background-color: white;color:black">odour: </h3> 
           <ul>
               <li>almond=a</li>
               <li>anise=l</li>
               <li>creosote=c</li>
               <li>fishy=y</li>
               <li>foul=f</li>
               <li>musty=m</li>
               <li>none=n</li>
               <li>pungent=p</li>
               <li>spicy=s</li>
               
           </ul> 
        </li>
        <br>
        <li>
           <h3 style="text-align: center;font-size: 22px; background-color: white;color:black">gill-attachment:</h3>  
          <ul>
              <li>attached=a</li>
              <li>descending=d</li>
              <li>free=f</li>
              <li>notched=n</li>
          </ul> 
        </li>
        <br>
        <li>
           <h3 style="text-align: center;font-size: 22px; background-color: white;color:black">gill-spacing:</h3> 
           <ul>
               <li>close=c</li>
               <li>crowded=w</li>
               <li>distant=d</li>
           </ul>  
        </li>
        <br>
        <li>
            <h3 style="text-align: center;font-size: 22px; background-color: white;color:black">gill-size:</h3>
           <ul>
               <li>broad=b</li>
               <li>narrow=n</li>
           </ul>  
        </li>
        <br>
        <li>
            <h3 style="text-align: center;font-size: 22px; background-color: white;color:black">gill-colour:</h3> 
            <ul>
                <li>black=k</li>
                <li>brown=n</li>
                <li>buff=b</li>
                <li>chocolate=h</li>
                <li>grey=g</li>
                <li>green=r</li>
                <li>orange=o</li>
                <li>pink=p</li>
                <li>purple=u</li>
                <li>red=e</li>
                <li>white=w</li>
                <li>yellow=y</li>
            </ul>
            
        </li>
        <br>
        <li>

            <h3 style="text-align: center;font-size: 22px; background-color: white;color:black">stalk-shape:</h3> 
            <ul>
                <li>enlarging=e</li>
                <li>tapering=t</li>
            </ul>
            
        </li>
        <br>
        <li>
           <h3 style="text-align: center;font-size: 22px; background-color: white;color:black">Stalk-root:</h3> 
           <ul>
               <li>bulbous=b</li>
               <li>club=c</li>
               <li>cup=u</li>
               <li>equal=e</li>
               <li>rhizomorphs=z</li>
               <li>rooted=r</li>
               <li> missing=?</li>
           </ul> 
           
        </li>
        <br>
        <li>
           <h3 style="text-align: center;font-size: 22px; background-color: white;color:black">stalk-surface-above-ring:</h3> 
           <ul>
               <li>fibrous=f</li>
               <li>scaly=y</li>
               <li>silky=k</li>
               <li>smooth=s</li>
           </ul> 
        </li>
        <br>
        <li>
            <h3 style="text-align: center;font-size: 22px; background-color: white;color:black">stalk-surface-below-ring:</h3>
            <ul>
                
               <li>fibrous=f</li>
               <li>scaly=y</li>
               <li>silky=k</li>
               <li>smooth=s</li>
                
            </ul> 
        </li>
        <br>
        <li>
            <h3 style="text-align: center;font-size: 22px; background-color: white;color:black">stalk-colour-above-ring:</h3>
            <ul>
                <li>brown=n</li>
                <li>buff=b</li>
                <li>cinnamon=c</li>
                <li>gray=g</li>
                <li>orange=o</li>
                <li>pink=p</li>
                <li>red=e</li>
                <li>white=w</li>
                <li>yellow=y</li>
            </ul>
            
            
        </li>
        <br>
        <li>
            <h3 style="text-align: center;font-size: 22px; background-color: white;color:black">stalk-colour-below-ring:</h3>
            <ul>
                <li>brown=n</li>
                <li>buff=b</li>
                <li>cinnamon=c</li>
                <li>gray=g</li>
                <li>orange=o</li>
                <li>pink=p</li>
                <li>red=e</li>
                <li>white=w</li>
                <li>yellow=y</li>
            </ul>
        </li>
        <br>
        <li>
            <h3 style="text-align: center;font-size: 22px; background-color: white;color:black">veil-type:</h3>
            <ul>
                <li>partial=p</li>
                <li>universal=u</li>
            </ul>  
        </li>
        <br>
        <li>
           <h3 style="text-align: center;font-size: 22px; background-color: white;color:black">veil-colour:</h3>  
           <ul>
               <li>brown=n</li>
               <li>orange=o</li>
               <li>white=w</li>
               <li>yellow=y</li>
           </ul>
            
        </li>
        <br>
        <li>
           <h3 style="text-align: center;font-size: 22px; background-color: white;color:black">ring-number:</h3> 
           <ul>
            <li>none=n</li>
            <li>one=o</li>
            <li>two=t</li>
            
        </ul> 
           
        </li>
        <br>
        <li>
           <h3 style="text-align: center;font-size: 22px; background-color: white;color:black">ring-type:</h3>  
           <ul>
            <li>cobwebby=c</li>
            <li>evanescent=e</li>
            <li>flaring=f</li>
            <li>large=l</li>
            <li>none=n</li>
            <li>pendant=p</li>
            <li>sheathing=s</li>
            <li>zone=z</li>
        </ul> 
        </li>
        <br>
        <li>
           <h3 style="text-align: center;font-size: 22px; background-color: white;color:black">spore-print-colour:</h3> 
           <ul>
            <li>black=k</li>
            <li>brown=n</li>
            <li>buff=b</li>
            <li>chocolate=h</li>
            <li>green=r</li>
            <li>orange=o</li>
            <li>purple=u</li>
            <li>white=w</li>
            <li> yellow=y</li>
        </ul> 
            
           
        </li>
        <br>
        <li>
            <h3 style="text-align: center;font-size: 22px; background-color: white;color:black">population:</h3>
            <ul>
                <li>abundant=a</li>
                <li>clustered=c</li>
                <li>numerous=n</li>
                <li>scattered=s</li>
                <li>several=v</li>
                <li>solitary=y</li>
            </ul>
        </li>
        <br>
        <li>
           <h3 style="text-align: center;font-size: 22px; background-color: white;color:black">habitat:</h3> 
           <ul>
            <li>grasses=g</li>
            <li>leaves=l</li>
            <li>meadows=m</li>
            <li>paths=p</li>
            <li>urban=u
            </li>
            <li> waste=w</li>
            <li>woods=d</li>
        </ul> 
            
        </li>
        <br>
    </ol>
</body>
</html>