<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>mushroom</title>
</head>
<body style="background-image: url({{ url_for('static',filename='DifferentMushrooms.jpg')}}); background-size: cover">
    <header><h1 style="text-align: center;font-size: 40px; background-color: white;">Mushroom</h1></header>
      <p style="font-size: 22px; text-align: center;color: white;">
        A mushroom or toadstool is the fleshy, spore-bearing fruiting body of a fungus, typically produced above ground, on soil, or on its food source. <br>

        The standard for the name "mushroom" is the cultivated white button mushroom, Agaricus bisporus; hence the word "mushroom" is most often applied to those fungi (Basidiomycota, Agaricomycetes) that have a stem (stipe), a cap (pileus), and gills (lamellae, sing. lamella) on the underside of the cap. <br> "Mushroom" also describes a variety of other gilled fungi, with or without stems, therefore the term is used to describe the fleshy fruiting bodies of some Ascomycota. <br> These gills produce microscopic spores that help the fungus spread across the ground or its occupant surface.
        
        Forms deviating from the standard morphology usually have more specific names, such as "bolete", "puffball", "stinkhorn", and "morel", and gilled mushrooms themselves are often called "agarics" in reference to their similarity to Agaricus or their order Agaricales.  By extension, the term "mushroom" can also refer to either the entire fungus when in culture, the thallus (called a mycelium) of species forming the fruiting bodies called mushrooms, or the species itself.
    </p> <br>
    <h1 style="background-color: white; text-align: center;"> Etymology</h1> <br> <p style="font-size: 22px; text-align: center; color: white; ">The terms "mushroom" and "toadstool" go back centuries and were never precisely defined, nor was there consensus on application.During the 15th and 16th centuries, the terms mushrom, mushrum, muscheron, mousheroms, mussheron, or musserouns were used.

The term "mushroom" and its variations may have been derived from the French word mousseron in reference to moss (mousse). <br> Delineation between edible and poisonous fungi is not clear-cut, so a "mushroom" may be edible, poisonous, or unpalatable.

Cultural or social phobias of mushrooms and fungi may be related. The term "fungophobia" was coined by William Delisle Hay of England, who noted a national superstition or fear of "toadstools". <br>

The word "toadstool" has apparent analogies in Dutch padde(n)stoel (toad-stool/chair, mushroom) and German Krötenschwamm (toad-fungus, alt. word for panther cap). In German folklore and old fairy tales, toads are often depicted sitting on toadstool mushrooms and catching, with their tongues, the flies that are said to be drawn to the Fliegenpilz, a German name for the toadstool, meaning "flies' mushroom". This is how the mushroom got another of its names, Krötenstuhl (a less-used German name for the mushroom), literally translating to "toad-stool"

      </p>
      <br>
      <h1 style="background-color: white;text-align: center;">Identification</h1>
      <p style="font-size: 22px; text-align: center; color: white;">
        Identifying mushrooms requires a basic understanding of their macroscopic structure. Most are Basidiomycetes and gilled. Their spores, called basidiospores, are produced on the gills and fall in a fine rain of powder from under the caps as a result. At the microscopic level, the basidiospores are shot off basidia and then fall between the gills in the dead air space. As a result, for most mushrooms, if the cap is cut off and placed gill-side-down overnight, a powdery impression reflecting the shape of the gills (or pores, or spines, etc.) is formed (when the fruit body is sporulating). The color of the powdery print, called a spore print, is used to help classify mushrooms and can help to identify them. Spore print colors include white (most common), brown, black, purple-brown, pink, yellow, and creamy, but almost never blue, green, or red.

        While modern identification of mushrooms is quickly becoming molecular, the standard methods for identification are still used by most and have developed into a fine art harking back to medieval times and the Victorian era, combined with microscopic examination. The presence of juices upon breaking, bruising reactions, odors, tastes, shades of color, habitat, habit, and season are all considered by both amateur and professional mycologists. Tasting and smelling mushrooms carries its own hazards because of poisons and allergens. Chemical tests are also used for some genera
      </p>
    
</body>
</html>